<div class="fb-post">
    {% if post.full_picture %}
        <div class="fb-post-image">
            <img src="{{ post.full_picture }}" alt="Facebook post image" loading="lazy">
        </div>
    {% endif %}

    {% if post.message %}
        <div class="fb-post-message">
            <p>{{ post.message|nl2br }}</p>
        </div>
    {% endif %}

    <div class="fb-post-meta">
        <time datetime="{{ post.fb_created_at|date('Y-m-d') }}">
            {{ post.fb_created_at|date('d M Y') }}
        </time>
    </div>
</div>
